*{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    flex: auto;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: black;
    border-bottom: 2px solid #4ECDC4;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}

.sous li{
    flex: 1 1 auto;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

form {
    display: flex; 
    flex-direction: column;
    max-width: 20%;
    padding: 40px;
    background-color: white;
    margin: 100px auto;
    border-radius: 10px;
}

form input {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
}

.error {color : #ff0000;}
.valid {color : rgb(44, 148, 44);}

main {
    min-height: 900px;
    display: flex;
    flex-direction: column;
}

.articles {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    justify-content: center;
    border: 1px solid black;
    padding: 5px 20px
}

.pagination {
    display: flex;
}

.pagination li {
    list-style: none;
    display: block;
}

.pagination a {
    border: 1px solid black;
    padding: 3px;
    margin: 2px;
    color: black;
    text-decoration: none;
}

footer {
    height: 50px;
    background-color: rgb(148, 147, 147);
}